page-login {


.login_list{
  background-color: rgb(242,242,242);
  opacity: 0.8;
  margin-top: 180px;
}
.login_header{
  background-color: transparent;
color:black;

}


.login_Page{

 background-image: url('../assets/imgs/Background.jpg');
  background-color: transparent;
  background-size:cover;
}
h1{
color:black;

}
  ion-content{
    background-color: black;
    //  background-image: url('img/background.jpg');
  }

}
