<!--
  Generated template for the CartPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>SHOPPING CART</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
<!--TODO: Show cart only if there are items, but it doesnt work-->
<div *ngIf="customerCart">
		
		<ion-list *ngFor="let cartItem of customerCart;let i = index">
		 
		 <ion-item-sliding>
		 
		 <ion-item>
			
			<img height="150" width="150" src="http://is3106-gp02.southeastasia.cloudapp.azure.com:8080/Sportify-war{{cartItem.images[0].imagePath}}" item-left>
			
				<ion-label float-left style="margin-left:30px">{{cartItem.productName}}</ion-label>

					<ion-label float-right>${{cartItem.price}}</ion-label>

			</ion-item>
			<ion-item-options side="right">
				 <button ion-button (click)="removeFromCart(i,cartItem)">
					<ion-icon name="trash"></ion-icon>
					Delete
				</button>
				
				</ion-item-options>
			</ion-item-sliding>
			<button ion-button (click)="minusButtonClick(i,cartItem)"><ion-icon name="remove" ></ion-icon>
				
				</button>
					{{cartItem.selectedQuantity}}
					<button ion-button (click)="plusButtonClick(i,cartItem)"><ion-icon name="add" ></ion-icon>
					
					</button>
		</ion-list>
		
		<ion-row>
			<ion-label float-left>Subtotal:</ion-label>
			<ion-label float-right>${{subtotal}}</ion-label>
		</ion-row>
		<ion-row>
			<ion-label float-left>Discount from Voucher </ion-label>
			<ion-label float-right>${{discountFromVoucher}}</ion-label>
		</ion-row>
		<ion-row>
			<ion-label float-left>Total</ion-label>
			<ion-label float-right>${{total}}</ion-label>
		</ion-row>
		<ion-row>
			<ion-label>Use My Voucher</ion-label>
			<ion-input [(ngModel)]="voucherCode"></ion-input>
			<button class="buttons" (click)="applyVoucher()">Apply</button>
		</ion-row>
		<ion-row>
			<button class="buttons" (click)="makeOrder()">MAKE ORDER</button>
		</ion-row>

		
</div>

<div *ngIf="!customerCart" text-center>
	<h2>You have no items! Start shopping now!</h2>
</div>
</ion-content>
