page-home {

}


.home_Content{
background-color: white;
opacity:0.8;

}
.home_Content h2{
  color:black;
  font-weight: bold;
  text-align: center;
  font-family: open-sans

}
.home_Content h4{
  color:black;
  margin-left: 10px;
  font-weight: bold;
  font-family: open-sans

}

.home_grid{
  //opacity:0.8;
//  background-color: black;
}
