<ion-header class="home_header">
<h2 style="color:black; text-align:center; font-weight: bold; font-family:open-sans"> Sportify </h2>
</ion-header>

<ion-content padding class="home_Content">
<h4>Retrieve all products</h4>
	<ion-grid class="home_grid">
		<ion-row>
			<ion-col *ngFor="let product of products;" col-6>
				<ion-card>
					<ion-card-header>
						{{product.productName}}
					</ion-card-header>
					<ion-card-content>
						<img src="test.jpg"/><br>
						<ion-item>
							<ion-label>${{product.price}}</ion-label>
						</ion-item>
						<ion-item>
							<span float-left>{{product.country}}</span>
							<span float-right>{{product.team}}</span>
						</ion-item>
						<ion-item>
							<ion-label>Size</ion-label>
							<ion-select placeholder="Size"  [(ngModel)]="product.selectedSize" >
								<ion-option *ngFor="let size of product.sizes" value="{{size.size}}">
									{{size.size}}
								</ion-option>
							</ion-select>
						</ion-item>
						<ion-item>
							<ion-label float-left>Quantity:</ion-label>
							 <ion-input float-right style="background-color:lightGrey; height:30px; opacity:0.2;" type="number" [(ngModel)]="product.selectedQuantity"></ion-input>
						</ion-item>
						<ion-item>
							<button class="cart_button" (click)="addCartItem(product)" class="cart_Button">Add to Cart</button>
						</ion-item>
					</ion-card-content>
				</ion-card>
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-content>