<ion-header class="home_header">
<h2 style="color:black; text-align:center; font-weight: bold; font-family:open-sans"> Sportify </h2>
</ion-header>

<ion-content padding class="home_Content">
<h4>Retrieve all products</h4>
	<ion-grid class="home_grid">
		<ion-row>
			<ion-col *ngFor="let product of products;" col-6>
				<ion-card>
					<ion-card-header>
						{{product.productName}}
					</ion-card-header>
					<ion-card-content>
						<img src="test.jpg"/><br>
						<ion-item>
							<ion-label>Size</ion-label>
							<ion-select placeholder="Size"  [(ngModel)]="product.selectedSize" > 
								<ion-option *ngFor="let size of product.sizes" value="{{size.size}}">
									{{size.size}}
								</ion-option>
							</ion-select>
						</ion-item>
						
						<br>
						Quantity: <ion-input type="number" [(ngModel)]="product.selectedQuantity"></ion-input>
						<br>
						<button [disabled]="checkInput(product)" (click)="addCartItem(product)">Add to Cart</button>
					</ion-card-content>
				</ion-card>
			</ion-col>
		</ion-row>
	</ion-grid>
	
<h4>Retrieve All Unused Vouchers for customer</h4>
	<ion-item *ngFor="let voucher of vouchers;">
		{{voucher.id}}
	</ion-item>
		
	
<h4> Latest Product </h4>
<ion-grid class="home_grid">
  <!-- //*ngFor="let row of grid" -->
    <ion-scroll scrollX="true" style="width:300; height:170px" >
        <ion-row nowrap class="headerChip">
                <ion-col><!-- dimensions set using input properties -->
                <ion-img width="120" height="120" src="../assets/imgs/MadridTest.jpg"></ion-img></ion-col>
                <ion-col>
                <ion-img width="120" height="120" src="../assets/imgs/ArseTest.jpg"></ion-img>
                </ion-col>
                <ion-col>
               <ion-img width="120" height="120" src="../assets/imgs/chealseaTest.jpg"></ion-img> </ion-col>
          </ion-row>
      </ion-scroll>
</ion-grid>



<h4> Choose Your Jersey </h4>
<ion-grid class="home_grid">
  <!-- //*ngFor="let row of grid" -->
    <ion-row >
         <ion-col><!-- dimensions set using input properties -->
			<ion-img width="185" height="185" src="../assets/imgs/MadridTest.jpg"></ion-img>
		 </ion-col>
         <ion-col>
         <ion-img width="185" height="185" src="../assets/imgs/ArseTest.jpg"></ion-img>
        </ion-col>
    </ion-row>
    <ion-row >
         <ion-col ><!-- dimensions set using input properties -->
         <ion-img width="185" height="185" src="../assets/imgs/MadridTest.jpg"></ion-img></ion-col>
         <ion-col >
         <ion-img width="185" height="185" src="../assets/imgs/ArseTest.jpg"></ion-img>
        </ion-col>
    </ion-row>
</ion-grid>



<!-- <ion-list>
  <ion-item *ngFor="let item of items">
    {{ item }}
  </ion-item>
</ion-list> -->

<!--
DROP DOWN LIST
https://forum.ionicframework.com/t/ion-select-with-ngfor/65940
-->

</ion-content>
