page-home {

}


.home_Content{
background-color: white;


}
.home_Content h2{
  color:black;
  font-weight: bold;
  text-align: center;
  font-family: open-sans

}
.home_Content h4{
  color:black;
  margin-left: 10px;
  font-weight: bold;
  font-family: open-sans

}

.home_grid{
  //opacity:0.8;
//  background-color: black;
}

.cart_Button{
  background-color: black;
  color:white;
  width: 90px;
  height: 30px;

}
